{% extends 'base.html' %}
{% load static %}


{% block main_content %}

{% if user.student %}
    <h1>Select Course</h1>
    <form method="post" action="{% url 'select_course' %}">
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="course_id">
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.course_number }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save Course</button>
    </form>
{% endif %}

<h1>Edit Account Details</h1>
<form method="post" action="{% url 'edit_account' %}">
    {% csrf_token %}
    <ul class="list-unstyled">
        <li class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" value="{{ user.email }}">

        </li>
        <li class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">

        </li>
        <li class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">

        </li>
        <li class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">

        </li>
        <li>
        <button type="submit" class="btn btn-primary" name="update_last_name">Update info</button>
        </li>
    </ul>
</form>

<h1>Delete account</h1>
<form method="post" action="{% url 'delete_account' %}">
    {% csrf_token %}
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="confirm_delete" name="confirm_delete">
        <label class="form-check-label" for="confirm_delete">Confirm deletion</label>
    </div>
    <button type="submit" class="btn btn-danger">Delete account</button>
</form>

{% endblock %}