{% extends 'base.html' %}
{% load static %}


{% block main_content %}

<h1>User profile</h1>
<div style="display: flex; margin-bottom: 20px;">
    <div style="width: 200px; height: 200px; border: 1px solid #ccc; border-radius: 10px; overflow: hidden; margin-right: 20px;">
        {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="User Photo" style="width: 100%; height: 100%; object-fit: cover;">
        {% else %}
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_photo' %}">
            {% csrf_token %}
            <input type="file" name="photo" accept="image/*">
            <button type="submit">Upload Photo</button>
        </form>
        {% endif %}
    </div>
    <div>
        <p>Username: {{ user.username }}</p>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Role: {{ user.role }}</p>
        <p>Email: {{ user.email }}</p>
        {% if user.student %}
        <p>Course: {{ user.student.course.course_number }}</p>
        {% endif %}
    </div>
</div>
{% if messages %}
{% for message in messages %}
<p class="alert alert-{{ message.level }}">{{ message.message }}</p>
{% endfor %}
{% endif %}
<form method="post" action="{% url 'add_subject_to_user' %}">
    {% csrf_token %}
        <select name="subject_id">
            <option value="">-- Choose a subject --</option>
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
    <button type="submit">Add Subject</button>
</form>

<h2><a href="{% url 'edit_account' %}">Edit</a></h2>
{% endblock %}
