{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    <div class="container">
        <div class="row">
            {% for subject in user.student.subjects.all %}
                <div class="col-md-4 mb-3">
                    <div class="card" style="background-color: #b59a7a;">
                        <div class="card-body">
                            <h5 class="card-title">{{ subject.name }}</h5>
                            <form method="POST" action="{% url 'view_teachers' subject_name=subject.name %}">
                                {% csrf_token %}
                                <input type="hidden" name="subject_id" value="{{ subject.id }}">
                                <button type="submit" class="btn btn-primary">Find teacher</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 d-flex justify-content-center align-items-center" style="background-color: #b59a7a; height: 200px;">
                    <p class="text-center">No subjects found. Please <a href="{% url 'check_account' %}">add subjects</a>.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}