{% extends 'base.html' %}
{% load static %}

{% block header %}
<h3>User Login</h3>
{% endblock %}

{% block left_side_content %}
<!-- Додатковий контент для лівої частини сторінки -->
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card dark-content">
                <div class="card-body">
                    <h1 class="h4 mb-4">User Login</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
