{% extends 'base.html' %}
{% load static %}


{% block main_content %}
{% for request in requests %}
    <div>
        <p>From: {{ request.student.user.first_name }} {{ request.student.user.last_name }}</p>
        <p>Subject: {{ request.subject.name }}</p>
        <form method="POST" action="{% url 'confirm_request' request.id %}">
            {% csrf_token %}
            <button type="submit">Confirm</button>
        </form>
        <form method="POST" action="{% url 'reject_request' request.id %}">
            {% csrf_token %}
            <button type="submit">Reject</button>
        </form>
    </div>
{% endfor %}
{% endblock %}
