{% extends 'base.html' %}
{% load static %}


{% block main_content %}
    <h1>{{ subject.name }} Tasks</h1>

    {% if user.is_authenticated %}
        {% if user.role == 'teacher' %}
            <p>info about teacher.</p>
            {% for course in courses %}
                <p><a href="{% url 'subject_teacher_tasks' subject_id=subject.id course_id=course.id %}">Course № {{ course.course_number }}</a></p>
            {% endfor %}
        {% elif user.role == 'student' %}
            {% if user.student.course %}
                <h2>Tasks for Course {{ user.student.course.course_number }}</h2>
                <ul>
                    {% for task in tasks %}
                        {% if task.course_num_id == user.student.course_id %}
                            <li>{{ task.theme }}</li>
                            <p>{{ task.description }}</p>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Choose course to check tasks.</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>Please log in to check tasks.</p>
    {% endif %}
{% endblock %}