{% extends 'base.html' %}
{% load static %}

{% block header %}

<div class="d-flex justify-content-between align-items-center">

        <div class="photo-container">
            <a href="{% url 'home' %}"><img src="{% static 'Images/OOO.avif' %}" alt="Logo"></a>
        </div>
{% if user.is_authenticated %}

    Today is a good day to learn something!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Log out</button>
        <a href="{% url 'check_account' %}" class="btn btn-outline-primary">Account</a>
    </form>

{% else %}

    Welcome to Educational portal!
    <div>
        <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary ml-2">Log in</a>
    </div>

</div>
{% endif %}
{% endblock %}


{% block left_side_content %}
    <h3>Subjects</h3>
    <ul>
        {% if user.is_authenticated %}

            {% if user.role == 'teacher' %}
                {% for subject in user.teacher.subjects.all %}
                    <li>
                        <form method="POST" action="{% url 'delete_subject' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <a href="{% url 'subject_info' subject_name=subject.name|slugify|title %}">{{ subject.name }}</a>
                            <button type="submit" class="btn btn-danger btn-sm">×</button>
                        </form>
                    </li>
                {% endfor %}

            {% elif user.role == 'student' %}
                {% for subject in user.student.subjects.all %}
                    <li>
                        <form method="POST" action="{% url 'delete_subject' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <a href="{% url 'subject_info' subject_name=subject.name|slugify|title %}">{{ subject.name }}</a>
                            <button type="submit" class="btn btn-danger btn-sm">×</button>
                        </form>
                    </li>
                {% endfor %}

            {% endif %}

    </ul>
        <h3><a> Another </a></h3>
            <ul>
                <li><a> content </a></li>
            </ul>

        {% else %}
            <p>Please log in to view subjects.</p>
        {% endif %}
    </ul>

{% endblock %}




{% block main_content %}
Main content about {{ subject }}
<h1>Teachers</h1>
    <ul>
        {% for teacher in subject.teacher_set.all %}
            <li>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</li>
        {% endfor %}
    </ul>
{% endblock %}