{% extends 'base.html' %}
{% load static %}

{% block header %}

<div class="d-flex justify-content-between align-items-center">

        <div class="photo-container">
            <a href="{% url 'home' %}"><img src="{% static 'Images/OOO.avif' %}" alt="Logo"></a>
        </div>
{% if user.is_authenticated %}

    Today is a good day to learn something!
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Log out</button>
        <a href="{% url 'check_account' %}" class="btn btn-outline-primary">Account</a>
    </form>

{% else %}

    Welcome to Educational portal!
    <div>
        <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
        <a href="{% url 'login' %}" class="btn btn-outline-primary ml-2">Log in</a>
    </div>

</div>
{% endif %}
{% endblock %}


{% block left_side_content %}
    <h3>Subjects</h3>

        {% if user.is_authenticated %}


            {% if user.role == 'teacher' %}
                {% for subject in user.teacher.subjects.all %}

                        <form method="POST" action="{% url 'delete_subject' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <a href="{% url 'subject_info' subject_name=subject.name|slugify|title %}">{{ subject.name }}</a>
                            <button type="submit" class="btn btn-danger btn-sm">×</button>
                        </form>

                {% endfor %}

                <h3><a> Another </a></h3>
                    <a href="{% url 'requests' %}">Requests</a>


            {% elif user.role == 'student' %}
                {% for subject in user.student.subjects.all %}

                        <form method="POST" action="{% url 'delete_subject' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <a href="{% url 'subject_info' subject_name=subject.name %}">{{ subject.name }}</a>
                            <button type="submit" class="btn btn-danger btn-sm">×</button>
                        </form>

                {% endfor %}

                <h3><a> Another </a></h3>
                    <a>Content</a>

            {% endif %}


        {% else %}
            <p>Please log in to view subjects.</p>
        {% endif %}

{% endblock %}


{% block main_content %}
    {% if user.role == 'student' %}
        <h1>Teachers</h1>
        <ul>
            {% for teacher in subject.teacher_set.all %}
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</span>
                        <form method="POST" action="{% url 'send_request' %}">
                            {% csrf_token %}
                            <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <button type="submit" class="btn btn-primary">Send Request</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% elif user.role == 'teacher' %}
        <h1>Students</h1>
    {% endif %}
{% endblock %}