{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<form method="POST" action="{% url 'solve_quiz' subject.id quiz.id %}">
    {% csrf_token %}
    {% for question in quiz.questions.all %}
    <div class="card mt-4" >
        <div class="card-body" style="background-color: #b59a7a;">
            <h3>{{ question.question_text }}</h3>
            <ul>
                {% for option in question.options.all %}
                <li>
                    <input type="radio" id="option_{{ option.id }}" name="question_{{ question.id }}" value="{{ option.id }}" required>
                    <label for="option_{{ option.id }}">{{ option.text }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>

{% endblock %}
