{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
    <h1 class="mt-5">Theme: {{ task.theme }}</h1>
    <p>Description: {{ task.description }}</p>

    <div class="card">
        <div class="card-body" style="background-color: #b59a7a;">

            <h2 class="card-title">Solution by {{ solution.student.user.first_name }} {{ solution.student.user.last_name }}</h2>
            <ul class="list-group list-group-flush">
                {% for solution_item in solutions %}
                    {% if solution_item.student == solution.student %}
                        <li class="list-group-item" style="background-color: #b59a7a;">
                            <p>{{ solution_item.solution_text }}</p>
                            {% if solution_item.solution_file %}
                                <p><a href="{{ solution_item.solution_file.url }}" class="btn btn-primary" style="background-color: grey;">Download Solution File</a></p>
                            {% endif %}
                            {% if not points %}
                                <a href="{% url 'give_grade' student_id=solution_item.student.id subject_id=task.subject.id task_id=task.id %}" class="btn" style="background-color: #8B4513; color: white;">Give Grade</a>
                            {% else %}
                                <div class="graded" style="background-color: green; padding: 10px; border-radius: 10px;">
                                    <h3>Already graded</h3>
                                    <h4>Points: {{ points.points }}</h4>
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item">No solutions found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
