{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    <div class="container">
        <h1>Teachers</h1>
        <table class="table table-striped">
            <tbody>
                {% for teacher in subject.teacher_set.all %}
                <tr>
                    <td>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</td>
                    <td>
                        <form method="POST" action="{% url 'send_request' %}">
                            {% csrf_token %}
                            <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
                            <input type="hidden" name="subject_id" value="{{ subject.id }}">
                            <button type="submit" class="btn btn-primary btn-sm">Send Request</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}