{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    <div class="container">
        <h1>Students who learn {{ subject.name }}</h1>
        <table class="table table-striped">
            <tbody>
                {% for request in subject.subjectrequest_set.all %}
                    {% if request.is_confirmed %}
                        <tr>
                            <td>
                                <a href="{% url 'student_profile' request.student.id %}">
                                    {{ request.student.user.first_name }} {{ request.student.user.last_name }}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="2">No students found for this subject</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
