{% extends 'base.html' %}
{% load static %}

{% block main_content %}
    <div class="container">
        <h1>{{ subject.name }} Solutions</h1>
        <h2>{{ task.theme }}</h2>

        <ul>
            {% for solution in task.task_solutions.all %}
                <li>
                    <p>{{ solution.student.user.username }}:</p>
                    {% if solution.solution_text %}
                        <p>{{ solution.solution_text }}</p>
                    {% endif %}
                    {% if solution.solution_file %}
                        <a href="{{ solution.solution_file.url }}">Download Solution File</a>
                    {% endif %}
                    <form action="{% url 'check_solution' solution_id=solution.id task_id=task.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <button type="submit" class="btn btn-primary">Check Solution</button>
                    </form>
                </li>
            {% empty %}
                <li>Для цього завдання не знайдено рішень.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
