{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Left Section Example</title>

    <!-- Підключення Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Підключення стилів з файлу style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-12 top-section">
                <h3>
                {% block header %}
                    <div class="d-flex justify-content-between align-items-center">
        <div class="photo-container">
            <a href="{% url 'home' %}"><img src="{% static 'Images/OOO.avif' %}" alt="Logo"></a>
        </div>
        {% if user.is_authenticated %}
            Today is a good day to learn something!
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Log out</button>
                <a href="{% url 'check_account' %}" class="btn btn-outline-primary">Account</a>
            </form>
        {% else %}
            Welcome to Educational portal!
            <div>
                <a href="{% url 'register' %}" class="btn btn-outline-primary">Register</a>
                <a href="{% url 'login' %}" class="btn btn-outline-primary ml-2">Log in</a>
            </div>
        {% endif %}
                    </div>
                {% endblock %}
                </h3>
            </div>
        </div>
        <div class="row">


<div class="col-md-2 left-section">

{% block left_side_content %}
    <div class="container">
        <h3>Subjects</h3>
        {% if user.is_authenticated %}
            {% if user.role == 'teacher' %}
                <table class="table table-striped">
                    <tbody>
                        {% for subject in user.teacher.subjects.all %}
                        <tr>
                            <td><a href="{% url 'subject_tasks' subject_id=subject.id %}">{{ subject.name }}</a></td>
                            <td>
                                <form method="POST" action="{% url 'delete_subject' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="subject_id" value="{{ subject.id }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                                <a href="{% url 'view_students' subject_id=subject.id %}" class="btn btn-outline-primary btn-sm">View Students</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3><a>Another</a></h3>
                <p><a href="{% url 'requests' %}" class="btn btn-outline-primary">Requests</a></p>
                <p><a href="{% url 'add_task' %}" class="btn btn-outline-primary">Add Task</a></p>
            {% elif user.role == 'student' %}
                <table class="table table-striped">

                    <tbody>
                        {% for subject in user.student.subjects.all %}
                        <tr>
                            <td><a href="{% url 'subject_tasks' subject_id=subject.id %}">{{ subject.name }}</a></td>
                            <td>
                                <form method="POST" action="{% url 'view_teachers' subject_name=subject.name %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="subject_id" value="{{ subject.id }}">
                                    <button type="submit" formaction="{% url 'delete_subject' %}" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3><a>Another</a></h3>
                <p><a>Content</a></p>
                <a href="{% url 'find_teacher' %}" class="btn btn-primary">Find Teacher</a>
            {% endif %}
        {% else %}
            <p>Please log in to view subjects.</p>
        {% endif %}
    </div>
{% endblock %}



</div>


            <div class="col-md-10 dark-content">
                <h3>{% block main_content %} {% endblock %}</h3>
            </div>
        </div>
    </div>

    <!-- Підключення Bootstrap JS та jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>